[Desktop Entry]
Name=Hexadecimal editor
Comment=An hexadecimal editor
TryExec=hexeditor
Exec=hexeditor
Icon=text-editor
Type=Application
Categories=Development;GTK;
StartupNotify=true
